
<section>
    <div class="container">
    
      <p>
        <strong>name:</strong>
        <%= @current_user.name %>
      </p>
      <p>
        <strong>surname:</strong>
        <%= @current_user.Surname %>
      </p>
      <p>
        <strong>email:</strong>
        <%= @current_user.email %>
      </p>
      <p>
        <strong>Birthday:</strong>
        <%= @current_user.Birthday %>
      </p>
    </div>     
  </section>